.about-me-title{
    position: relative;
    display:flex;
    color: var(--color3alt);
    text-align: center;
    height: 35px;
    justify-content: center;
    align-items: center;
    width: 150px;
    left: 50%;
    translate: -50%;
    margin: 5px;
}

.about-me-text{
    color:rgb(255, 255, 255);
    padding-left: 2vw;
    padding-right: 2vw;
    height: 100%;
}