.about-me-container {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    background-color: var(--conteiner);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.267);
    margin-bottom: 40px;
}
.about-me-description{
    display: inline-flex;
    justify-content: space-around;
    padding: var(--midMargin);
    column-gap: var(--midMargin);
}
.about-me-description-text{
    background-color: var(--color1);
}
.about-me-description-image{
    object-fit:cover;
    min-width: 30%;
    max-height:380px;
}
.about-me-description-image-inner{
    object-fit:cover;
    max-width: 150px;
    display: none;
}
.about-me-title{
    position: relative;
    display:flex;
    color: var(--color3alt);
    text-align: center;
    height: 35px;
    justify-content: center;
    align-items: center;
    left: 50%;
    translate: -50%;
    margin: 5px;
}

.about-me-text{
    color: white;
    font-size: 16px;
    padding-left: 4vw;
    padding-right: 4vw;
    height: 100%;
    padding-bottom: 4vw;
}
@media (max-width: 768px) {
    .about-me-description{
        display: flex;
        flex-direction: column;
    }
    .about-me-description-image{
        display: none;
    }
    .about-me-description-image-inner{
        display: block;
        width: 50vw;
        max-width: 300px;
        float: right;
        padding: 10px;
        padding-top: 0px;
    }
    .about-me-title{
        font-size: 13px;
    }
    
    .about-me-text{
        font-size: 12px;
    }
}
